*.o
Makefile
autom4te.cache
m
c
r
config.log
config.status
gfxpoly.a
tags
examples/logo
examples/triangles
tests/run_ps
libgfxpoly.so
libgfxpoly.a
gfxpoly-*.*.*/
gfxpoly-*.*.*.tar.gz
.session.vim
gfxpoly.so
.tags
